<% content_for(:sidebar) do %>
    <%= render :partial => "layouts/sidebar" %>
<% end %>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">Account</div>
      <div class="panel-body">
        <%= form_for @api_key do |f| %>

            <div class="form-group">
              <%= f.label "Map API Key" %>
              <%= f.text_field :google_api_key, autofocus: true,
                               placeholder: "", class: 'input-medium form-control' %>
            </div>
            <input type="submit" name="commit" value="Update" class="btn btn-large btn-primary">
        <% end %>
      </div>
    </div>
  </div>
</div>