<div id="side-content" class="col-md-3">
  <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav list-group">
      <a href="/accounts" class="list-group-item">Account <i class="fa fa-chevron-right pull-right"></i></a>
      <a href="/subscriptions" class="list-group-item">Billing <i class="fa fa-chevron-right pull-right"></i></a>
      <a href="/invoices" class="list-group-item">Invoices <i class="fa fa-chevron-right pull-right"></i></a>
      <a href="/settings" class="list-group-item">Settings <i class="fa fa-chevron-right pull-right"></i></a>
      <a href="/api_keys" class="list-group-item">API Key <i class="fa fa-chevron-right pull-right"></i></a>

    </ul>
  </div>
  <p style="margin-top:25px;">Any questions? <a href="<%=Rails.configuration.support_url%>" target="_blank">Contact our support</a>
  </p>
  <p style="margin-top:75px;">Unhappy? <a href="<%=Rails.configuration.cancellation_url%>">Send a cancellation request</a></p>
</div>